/tools-and-armour-progression/tools-and-armour-progression.zip
/tools-and-armour-progression/tools-and-armour-progression-plus-copperized.zip
/tools-and-armour-progression/tools-and-armour-progression-plus-emerald.zip
/tools-and-armour-progression/tools-and-armour-progression-plus-copper-emerald.zip